<% layout('layouts/boilerplate') %>
<div class="chat">
    <div class="chat__sidebar"></div>
    <div class="chat__main">
        <div id="messages" class="chat__messages">
            <div class="message" id="chats"></div>
        </div>

        <div class="compose">
            <form id="message-form">
                <input name="message" id="message" placeholder="Message" required autocomplete="off">
                <button id="sendMessageBtn">Send</button>
            </form>
            <button id="share-location">Send location</button>
        </div>
    </div>
</div>

<script src="./socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>